@{
    ViewBag.Title = "Contact";
}
<h2>İletişim Bilgileri</h2>
<hr />

<address>
    <h4><font color="yellow">Bahçelievler Kampüsü</font></h4>
    Çobançeşme Mah. Fatih Cad. No:1 Yenibosna Bahçelievler
    İSTANBUL<br />
    <h4><font color="yellow">Beylikdüzü Kampüsü</font></h4>
    İhlas Marmara Evleri 1. Kısım Sitesi Marmara Mah. Beylikdüzü
    İSTANBUL<br />
    <h4><font color="yellow">Avcılar Kampüsü</font></h4>
    BizimEvler 2-3-4-6-7 Siteleri Ispartakule Avcılar
    İSTANBUL<br />
    <abbr title="Phone">Whatsapp:</abbr>
    +09 05553330100
</address>

<address>
    <strong>Email gönderin: </strong><a href="mailto:cerensahin1795@gmail.com">cerensahin1795@gmail.com</a><br />
    <a href="https://www.instagram.com/">İnstagram</a>
    <a href="https://www.twitter.com/">Twitter</a>
    <strong> hesaplarımızı takip edebilirsiniz</strong>
</address>