@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CEROTTOO KOLEJİ</h1>
    <p class="lead">Kolej Hakkında daha fazla bilgi edinmek için hakkında kısmını inceleyebilirsiniz</p>
    <p><a href="/Home/About" class="btn btn-success btn-lg">Daha Fazla Bilgi &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Okullarımız</h2>
        <p>Okul Öncesi</p>
        <p>İlkokul</p>
        <p>Ortaokul</p>
        <p>Anadolu Lisesi</p>
        <p>Fen Lisesi</p>
        <p><a class="btn btn-success" href="/Home/About">Daha Fazla Bilgi &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <h2>Eğitim</h2>
        <p>Eğitim Sistemimiz</p>
        <p>Uzaktan Eğitim</p>
        <p>Yabancı Dil Eğitimi</p>
        <p>Değerler Eğitimi</p>
        <p>Spor Eğitimi</p>
        <p>Görsel Sanatlar Eğitimi</p>
        <p>Kulüpler</p>
        <p><a class="btn btn-success" href="/Home/About">Daha Fazla Bilgi &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Kayıt</h2>
        <p>Kayıt İşlemleri için</p>
        <p><a class="btn btn-success" href="/Home/Contact">Tıklayınız &raquo;</a></p>
    </div>
</div>